/* main styles */

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4F5D73;
	background: url(http://weni.ru/wallpapers/6ab05429f4e90b6ae9c1262a2a937945/3235_6.jpg) no-repeat center center fixed;
}

#wrapper, .background-fixed, .airplanes-table-head {
	width: 1000px;
	margin: 0 auto;
}

h1, .date, th {
	font-weight: 200;
	text-align: center;
}

a {
    color: #4F5D73;
    text-decoration: none;
}

a:hover {
	color: #424A56;
}

button {
	width: 110px;
	height: 30px;
	font-size: .8em;
	color: #fff;
	background-color: #99A5B9;
	border: none;
	cursor: pointer;
}

button:focus {
    outline: 0;
}

.fixed {
	position: fixed;
    z-index: 20;
}

/* table styles */

#arrival {
	display: block;
}

#departure {
	display: none;
}

table {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 160px;
}

th, td {
	position: relative;
	height: 60px;
	text-align: center;
}

th:nth-child(1), td:nth-child(1) {
    width: 50px;
}
th:nth-child(2), td:nth-child(2) {
    width: 120px;
}
th:nth-child(3), td:nth-child(3) {
    width: 230px;
}
th:nth-child(4), td:nth-child(4) {
    width: 160px;
}
th:nth-child(5), td:nth-child(5) {
    width: 100px;
}
th:nth-child(6), td:nth-child(6) {
    width: 140px;
}
th:nth-child(7), td:nth-child(7) {
    width: 200px;
}

/* table head styles */

.background-fixed {
	top: 0;
	height: 100px;
	background-color: #fff;
	opacity: .97;
}

.title {
	top: 0;
	left: 25%;
	width: 50%;
	text-align: center;
}

.nav {
	top: 60px;
	left: 40%;
	width: 20%;
	margin: 0 auto;
}

.nav-right {
	float: right;
}

.nav-left {
	float: left;
	background-color: #5FA2D7;
}

.airplanes-table-head {
	top: 100px;
	color: #fff;
	background: #4F5D73;
}